/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* Basic Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
    color: #151414;
    font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-family: 'Work Sans', sans-serif;
    color: #444343;
   
}
.btn {
    border: none;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    box-shadow: 0px 9px 48px -12px #F15B22;
}
.primary_btn {
    background: #F15B22;
    color: #ffffff;
    box-shadow: 0px 9px 48px -12px #F15B22;
}
.btn_white {
    background: #ffffff;
    color: #F15B22;
    box-shadow: 0px 9px 48px -12px #ffffff; 
}
.text_center {
    text-align: center;
}
/* Basic Css End */

/* Header section */
#header {
    background-image: url("../img/banner2.png");
    background-repeat: no-repeat;
    padding-top: 233px;
    padding-bottom: 167px;
    background-size: cover;
    background-position: center center;
    
}
.hero_section {
   direction: rtl;
}

.hero_section h1 {
    font-size: 65px;
    line-height: 76.25px;
}
.hero_section p { 
    font-size: 16px;
    margin: 20px 0px;
    line-height: 26px;
}
/* Skills Section */
section#skills {
    margin: 100px 0px;
}
.inner_skills {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
}
.skill_item {
    background: linear-gradient(176deg, #f9a685, #599cff00);
    padding: 20px;
    border-radius: 8px;  
}
.skill_item p {
    font-size: 25px;
    font-weight: 600;
}

.skill_item p strong {
    color: #737272;
    font-weight: 700;
}
.skill_item img {
    width: 90px;
}
/* Failure Section */
#failure {
    margin-bottom: 130px;
}
.inner_failure {
    display: flex;
    gap: 87px;
    align-items: center;
}
.failure_img img {
    max-width: 569px;
    height: auto;
}
.failure_text h2 {
    font-size: 40px;
    line-height: 47px;
}
.failure_text p {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 26px;
}
.failure_text ul li {
    list-style: none;
    font-size: 16px;
    color:#444343;
    font-family: 'Work Sans', sans-serif;
    padding: 8px 0px;
}
.failure_text ul li i {
    display: inline-block;
    color: #F15B22;
    margin-right: 8px;
}
/* Plan  */
.common_header h3 {
    font-size: 40px;
    margin-bottom: 50px;
}
.plan_item {
    display: flex;
    gap: 70px;
    justify-content: center;
}
.item h3 {
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.item strong {
    font-size: 25px;
    color: #737272;
    font-weight: 500;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;  
}
/* Call to action */
#call {
    margin: 100px 0px;
}
.inner_call {
    background: linear-gradient(86deg,#f15b22f0,#f15d2233), url(../img/watch.png);
    background-repeat: no-repeat;
    padding: 60px 64px;
    background-size: cover;
    border-radius: 8px;
}
.inner_call h2 {
    font-size: 40px;
    color: #ffffff;
    line-height: 46px;
    margin-bottom: 24px;
}
/* Footer */
#footer {
    background:#151414;
    padding: 130px 9px;
}
.inner_footer {
    display: flex;
    gap: 331px;
}
.footer_text h3 {
    font-size: 45px;
    color: #ffffff;
}
.footer_text p {
    line-height: 26px;
    color: #ffffff;
}
.social_icon {
    display: flex;
}
img.icon_gap {
    padding: 0px 16px;
}
.footer_text > p {
    margin-top: 16px;
    margin-bottom: 24px;
}
.info p {
    margin-bottom: 16px;
}
.footer_form h4 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;

}
.footer_form input {
    border: 1px solid #ffffff;
    display: block;
    padding: 18px;
    width: 282px;
    background: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 31px;
    margin-bottom: 16px;
}